<header id="header">
  <div class="row">
    <div class="small-12 colums">
          <div class="small-offset-8 small-12 columns">
            <nav>
                <ul class="menu">
                    <li><a href="#" class="button">Login</a></li>
                    <li><a href="#" class="button">Register</a></li>
                </ul>
            </nav>
        </div>
        <div class="small-12 columns">
            <div class="small-offset-3">
            <a routerLink="/">
              <h1 id="logo-text">Student Companion</h1>
            </a>
          </div>
      </div>
    </div>
  </div>
</header>
<companion-navigation></companion-navigation>

<!-- Main content -->
<div id="content">
  <router-outlet></router-outlet>
</div>


<!-- Footer -->
<footer id="footer">
  <div class="row">
    <div class="small-4 columns">
      <h3>Useful Links</h3>
      <ul>
        <li><a href="#">Test link1</a></li>
        <li><a href="#">Test link2</a></li>
        <li><a href="#">Test link3</a></li>
      </ul>
    </div>
  </div>
</footer>
