<companion-navigation></companion-navigation>

<!-- Main content -->
<div id="content">
  <router-outlet></router-outlet>
</div>


<!-- Footer -->
<footer id="footer">
  <div class="row">
    <div class="large-4 medium-6 columns">
      <h3>Student Companion</h3>
      <ul class="menu vertical">
        <li><a [routerLink]="['/about']">About</a></li>
        <li><a [routerLink]="['/contact']">Contact and Feedback</a></li>
        <li><a [routerLink]="['/submit-place']">Submit a Place</a></li>
      </ul>
    </div>
    <div class="large-4 medium-6 columns">
      <h3>Social</h3>
      <ul class="menu vertical">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
      </ul>
    </div>

  </div>
</footer>
