<header id="header">
  <div class="row">
    <div class="large-12 columns">
      <nav class="float-right">
          <ul class="menu">
              <li><a *ngIf="!user" routerLink="/login" class="button">Login</a></li>
              <li><a *ngIf="!user" routerLink="/register" class="button">Register</a></li>
              <li><a *ngIf="user" routerLink="/logout" class="button">Logout</a></li>
              <li><a *ngIf="user" class="button">Logged in as: {{ user.first_name }} {{ user.last_name }}</a></li>
          </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-offset-2 medium-10 columns">
      <a routerLink="/">
        <h1 id="logo-text">Student Companion</h1>
      </a>
    </div>
  </div>
</header>
<nav id="top-bar-navigation">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
         <li *ngFor="let category of parentCategories">
           <a [routerLink]="['/categories', category.id, category.slug]">
             {{ category.name }}
           </a>
           <!-- <ul *ngIf="category.category_children.length" class="menu vertical is-dropdown-submenu submenu">
            <li *ngFor="let subcategory of category.category_children">
              <a [routerLink]="['/categories', subcategory.id, subcategory.slug]">
                {{ subcategory.name }}
              </a>
            </li>
           </ul> -->
         </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><input #searchInput [(ngModel)]="searchString" type="search" placeholder="Search" (keyup.enter)="onSubmitSearch()"></li>
          <li><a (click)="onSubmitSearch()" class="button" title="Search"><i class="fa fa-search" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
</nav>
