<nav id="top-bar-navigation">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
         <li *ngFor="let category of parentCategories">
           <a [routerLink]="['/categories', category.id, category.slug]">
             {{ category.name }}
           </a>
           <!-- <ul *ngIf="category.category_children.length" class="menu vertical is-dropdown-submenu submenu">
            <li *ngFor="let subcategory of category.category_children">
              <a [routerLink]="['/categories', subcategory.id, subcategory.slug]">
                {{ subcategory.name }}
              </a>
            </li>
           </ul> -->
         </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><input #searchInput [(ngModel)]="searchString" type="search" placeholder="Search" (keyup.enter)="onSubmitSearch()"></li>
          <li><a (click)="onSubmitSearch()" class="button">Search</a></li>
        </ul>
      </div>
    </div>
</nav>
