<div *ngIf="place">
  <h1>{{ place.name }}</h1>

  <div *ngIf="place.place_images.length" class="row">
    <div *ngFor="let image of place.place_images" class="medium-6 columns">
      <a [href]="image.image">
        <img [src]="image.image" [alt]="place.image">
      </a>
    </div>
  </div>
</div>

<!-- Main Content -->
<div id="content">
  <div class="row">
    <div class="small-offset-1 large-12 columns">
      <div class="row">
        <div class="medium-6 columns">
        <h1>Place Name</h1>
          <img class="thumbnail" max-width: 100%; style="width:450px;height:250px;" src="https://i.vimeocdn.com/portrait/58832_300x300" alt="Test image Place">
        </div>
        <div class="medium-6 columns">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37841.114067266644!2d-1.813451072729535!3d53.64573061523024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487962132bcdb7bb%3A0x653c3a498c896a17!2sHuddersfield!5e0!3m2!1sen!2suk!4v1478861865549"
          width="450" max-width: 100%; height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
          <p>The Sportsman <br>
          1 St. johns Rd.(Viaduct St.)<br>
          Huddersfield<br>
          HD1 SAY<br>
          United Kingdom</p>
        </div>
      </div>
      <div class="row">
        <div class="medium-4 columns">
          <h4> Place Name</h4>
          <ul class="no-bullet">
            <li>Info 1</li>
            <li>Info 2</li>
            <li>Info 3</li>
            <li>Info 4</li>
            <li>Info 5</li>
            <li>Info 6</li>
          </ul>
        </div>
      </div>
     </div>
   </div>
  </div>

<!-- Review area -->
  <div id="content">
    <div class="row">
      <div class="small-offset-1 large-12 columns">
        <div class="row">
          <div class="medium-12 columns">
            <h3> Write a review and rate place</h3>
            <form>
              <div cass="row">
                <div class="medium-6 columns">
                  <div class="medium-4 columns">
                    <label>Name:<input required type="text"></label>
                  </div>
                </div>
              </div>
              <div cass="row">
                <div class="medium-12 columns">
                  <div class="medium-4 columns">
                    <label>Describe what it was like:
                      <input type="text">
                    </label>
                  </div>
                  <div class="medium-6 columns">
                    <fieldset>
                      <label>Rate:</label>
                      <input type="radio" name="rating" value="1" id="ratig1" required><label for="ratig1">1 Star</label>
                      <input type="radio" name="rating" value="2" id="rating2"><label for="ratig1">2 Stars</label>
                      <input type="radio" name="rating" value="3" id="rating3"><label for="ratig1">3 Stars</label>
                      <input type="radio" name="rating" value="4" id="rating4"><label for="ratig1">4 Stars</label>
                      <input type="radio" name="rating" value="5" id="rating5"><label for="ratig1">5 Stars</label>
                    </fieldset>
                  </div>
                  <div class="medium-12 columns">
                    <input type="submit" class="button" value="Submit">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="medium-4 column">
            <h3>Name</h3>
            <p>Review that was submited by user.</p>
          </div>
          <div class="medium-8 column">
            <p><strong>"user name" has rated "place name":</strong> 5 Stars<p>
          </div>
        </div>
      </div>
    </div>
  </div>
