<div *ngIf="place">
  <div id="content">
    <div class="row">
      <div class="small-offset-1 large-12 columns">
        <div class="row">
          <div class="medium-6 columns">
            <h1>{{ place.name }}</h1>
            <div *ngIf="place.place_images.length" class="row">
              <div *ngFor="let image of place.place_images" class="medium-6 columns">
                <a [href]="image.image">
                  <img [src]="image.image" [alt]="place.image">
                </a>
              </div>
            </div>
          </div>
          <div class="medium-6 columns">
            <h2> Address</h2>
          </div>
        </div>
        <div class="row">
          <div class="medium-4 columns">
            <ul class="no-bullet">
              <li>Info 1</li>
              <li>Info 2</li>
              <li>Info 3</li>
              <li>Info 4</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Review area -->
  <div id="content">
    <div class="row">
      <div class="small-offset-1 large-12 columns">
        <div class="row">
          <div class="medium-12 columns">
            <h3> Write a review and rate place</h3>
            <form>
              <div cass="row">
                <div class="medium-6 columns">
                  <div class="medium-4 columns">
                    <label>Name:<input required type="text"></label>
                  </div>
                </div>
              </div>
              <div cass="row">
                <div class="medium-12 columns">
                  <div class="medium-4 columns">
                    <label>Describe what it was like:
                      <input type="text">
                    </label>
                  </div>
                  <div class="medium-6 columns">
                    <fieldset>
                      <label>Rate:</label>
                      <input type="radio" name="rating" value="1" id="ratig1" required><label for="ratig1">1 Star</label>
                      <input type="radio" name="rating" value="2" id="rating2"><label for="ratig1">2 Stars</label>
                      <input type="radio" name="rating" value="3" id="rating3"><label for="ratig1">3 Stars</label>
                      <input type="radio" name="rating" value="4" id="rating4"><label for="ratig1">4 Stars</label>
                      <input type="radio" name="rating" value="5" id="rating5"><label for="ratig1">5 Stars</label>
                    </fieldset>
                  </div>
                  <div class="medium-12 columns">
                    <input type="submit" class="button" value="Submit">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="medium-4 column">
            <h3>Name</h3>
            <p>Review that was submited by user.</p>
          </div>
          <div class="medium-8 column">
            <p><strong>"user name" has rated "place name":</strong> 5 Stars<p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
