<div *ngIf="place">
  <div id="content">
    <div class="row">
      <div class="small-offset-1 large-12 columns">
        <div class="row">
          <div class="medium-6 columns">
            <h1>{{ place.name }}</h1>
            <p class="lead">{{ place.description }}</p>
            <div *ngIf="place.place_images.length" class="row">
              <div *ngFor="let image of place.place_images" class="medium-6 columns">
                <a [href]="image.image">
                  <img [src]="image.image" [alt]="place.image" style="max-height: 150px; max-width: 150px">
                </a>
              </div>
            </div>
          </div>
          <div class="medium-6 columns">
            <h2>Address</h2>
            <p>{{ place.address }}</p>
          </div>
        </div>
        <div class="row">
          <div class="medium-4 columns">
            <ul class="no-bullet">
              <li>{{ place.student_discount }}</li>
              <li *ngIf="place.website"><a href="{{ place.website }}">Website</a></li>
              <li *ngIf="place.google_maps_url"><a href="{{ place.google_maps_url }}">Google Maps</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Review area -->
  <div id="content">
    <div class="row">
      <div class="small-offset-1 large-12 columns">
        <div class="row">
          <div class="medium-12 columns">
            <h3>Write a review and rate place</h3>
            <div class="callout alert" *ngIf="errorMessage">
              <p>{{ errorMessage }}</p>
            </div>
            <form (ngSubmit)="onSubmit()" #placeRatingForm="ngForm">
              <div cass="row">
                <div class="medium-12 columns">
                  <div class="medium-4 columns">
                    <label>Describe what it was like
                      <input type="text" placeholder="description" name="description" [(ngModel)]="description">
                    </label>
                  </div>
                  <div class="medium-6 columns">
                      <input type="radio" name="rating" [(ngModel)]="rating" value="1" id="ratig1"><label for="ratig1">1 Star</label>
                      <input type="radio" name="rating" [(ngModel)]="rating" value="2" id="rating2"><label for="rating2">2 Stars</label>
                      <input type="radio" name="rating" [(ngModel)]="rating" value="3" id="rating3"><label for="rating3">3 Stars</label>
                      <input type="radio" name="rating" [(ngModel)]="rating" value="4" id="rating4"><label for="rating4">4 Stars</label>
                      <input type="radio" name="rating" [(ngModel)]="rating" value="5" id="rating5"><label for="rating5">5 Stars</label>
                  </div>
                  <div class="medium-12 columns">
                    <input type="submit" class="button" value="Submit">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div *ngFor="let rating of place.place_ratings" class="row">
          <div class="medium-4 column">
            <h3>{{ rating.user.first_name }} {{ rating.user.last_name }}</h3>
            <h4>Rating: {{ rating.rating }}/{{ rating.max_rating }}</h4>
            <p>{{ rating.description || "No review left..." }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
