<h3>Register</h3>
<form>
  <div cass="row">
    <div class="large-12 columns">
      <label>Email<input required type="text" placeholder="Email"></label>
    </div>
  </div>
  <div cass="row">
    <div class="large-12 columns">
      <label>Repeat Email<input required type="text" placeholder="Email"></label>
    </div>
  </div>
  <div cass="row">
    <div class="large-12 columns">
      <label>Password<input required type="password" placeholder="Password"></label>
    </div>
  </div>
  <div cass="row">
    <div class="large-12 columns">
      <label>Repeat Password<input required type="password" placeholder="Password"></label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input type="submit" class="button" value="Register">
    </div>
  </div>
</form>